#Data Science Tools and Ecosystem

This notebook provides a succinct overview of Data Science Tools and Ecosystem.

**Objectives :**

*   List popular languages that Data Scientists use.
*   List commonly used libraries used by Data Scientists.
*   Show examples of arithmetics expressions in Python

Some of the popular languages for data science are :


1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include :

1.   ggplot
2.   caret
3.   dplyr
4.   TensorFlow
5.   PyTorch
6.   Scikit-learn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

###Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This an arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
time_minutes = 200
time_hours = time_minutes / 60
print(str(time_minutes) + " minutes equal " + str(time_hours) + " hours.")

200 minutes equal 3.3333333333333335 hours.

##Author :
Elias E